<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salikoon.emulator8086">
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_chip"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_chip_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/MyEmulatorTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme"/>
        <activity
            android:name=".ui.EditorActivity"
            android:label="Editor"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme"/>
        <activity
            android:name=".ui.EmulateActivity"
            android:label="Status"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme" />
        <activity
            android:name=".ui.HelpActivity"
            android:label="Help"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme" />
        <activity
            android:name=".ui.TemplateActivity"
            android:label="Templates"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme" />
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme" />
        <activity
            android:name=".ui.HelpDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyEmulatorTheme" />
    </application>

</manifest>